{% extends 'baseHearIt.html.twig' %}

{% block title %}{{ 'title.video_add'|trans }}{% endblock %}

{% block body %}
    {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}

    <h1>{{ 'title.video_add'|trans }}</h1>

    {% if false == form.vars.valid %}
        {% include 'default/_single_alert_message.html.twig' with {
        is_single_message: true,
        is_dismissible: false,
        type: 'danger',
        message: 'message.form_error',
        } %}
    {% endif %}

    <div>
        {{ form_start(form, { method: 'post', action: url('video_add') }) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />
        {{ form_end(form) }}
    </div>
    <div class="btn-group" role="group" aria-label="{{ 'label.actions'|trans }}">
        <a href="{{ url('photo_index') }}" title="{{ 'label.back_to_list'|trans }}" class="btn btn-default">
            <span class="fa fa-mail-reply" aria-hidden="true"></span>
            {{ 'label.back_to_list'|trans }}
        </a>
    </div>
{% endblock %}
