{% extends 'baseHearIt.html.twig' %}

{% block title %}{{ 'title.video_delete'|trans({'%id%': video.video_id}) }}{% endblock %}

{% block body %}
    <h1>{{ 'title.video_delete'|trans({'%id%': video.video_id}) }}</h1>
    {{ form_start(form, { method: 'post', action: url('video_delete', {'id': video.video_id}) }) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-success" />
    {{ form_end(form) }}
    <a href="{{ url('video_index') }}" title="{{ 'label.back_to_list'|trans }}" class="btn btn-default">
        <span class="fa fa-mail-reply" aria-hidden="true"></span>
        {{ 'label.back_to_list'|trans }}
    </a>
{% endblock %}