{% extends 'baseHearIt.html.twig' %}

{% block body %}
    {% block header %}
        <div class="mp container navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div style="margin:5px, padding:5px" class="list-group col-md-3 col-md-offset-1">
                        <a class="list-group-item" href="../hearIt"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
                        <a class="list-group-item" href="../playlisty"><i class="fa fa-play fa-fw"></i>&nbsp; Playlisty</a>
                        <a class="list-group-item" href="../rankingi"><i class="fa fa-trophy fa-fw"></i>&nbsp; Rankingi</a>
                    </div>
                    <div style="color:darkslateblue" class="col-md-3 col-md-offset-0">
                        <h1>HearIt!</h1>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="container-fluid">
                            <div class="btn-group pull-right" role="group" aria-label="{{ 'label.actions'|trans }}">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <h4>Zalogowano jako Admin</h4>
                                    <a class="mp btn btn-default  col-md-offset-3" href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                                        {{ 'auth.logout.label'|trans }}
                                    </a>
                                {% else %}
                                    <a class="mp list-group-item text-center " href="{{ url('auth_login') }}"  title="{{ 'auth.login.label'|trans }}">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'auth.login.label'|trans }}
                                    </a>
                                    <a class="mp list-group-item text-center" href="../register"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp; Zarejestruj się</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <form class="col-md-10 col-md-offset-1 form-horizontal" role="form" action="{{ url('wyszukiwarka_sresult') }}" method="get">
                        <div class="form-group">
                            {#  form_start(form, { method: 'post', action: url('tag_add') }) #}
                            {#  form_widget(form) #}
                            <input type="text" class="form-control" id="autor" name="autor" placeholder="search HearIt">
                        </div>
                        {#  form_end(form) #}
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}

{% block title %}{{ 'title.video_add'|trans }}{% endblock %}

    {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}

    <h1>{{ 'title.video_add'|trans }}</h1>

    {% if false == form.vars.valid %}
        {% include 'default/_single_alert_message.html.twig' with {
        is_single_message: true,
        is_dismissible: false,
        type: 'danger',
        message: 'message.form_error',
        } %}
    {% endif %}

    <div>
        {{ form_start(form, { method: 'post', action: url('video_add') }) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />
        {{ form_end(form) }}
    </div>
    <div class="btn-group" role="group" aria-label="{{ 'label.actions'|trans }}">
        <a href="{{ url('profil_index') }}" title="{{ 'label.back_to_list'|trans }}" class="btn btn-default">
            <span class="fa fa-mail-reply" aria-hidden="true"></span>
            {{ 'label.back_to_list'|trans }}
        </a>
    </div>




{% endblock %}
