<div class="container ">
    <div class="row navbar navbar-default">
        {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}
        <h2 style="color:darkslateblue">{{ 'title.register_edit'|trans }}</h2>
        {% if false == form.vars.valid %}
            {% include 'default/_single_alert_message.html.twig' with {
            is_single_message: true,
            is_dismissible: false,
            type: 'danger',
            message: 'message.form_error',
            } %}
        {% endif %}
        <div class="mp col-md-11">
            {{ form_start(form, { method: 'post', action: url('register_edit') }) }}
            {{ form_widget(form) }}
            <div class="mp col-md-offset-3" role="group">
                <input type="submit" value="{{ 'action.save'|trans }}" class="form-group btn btn-default" />
            </div>
            {{ form_end(form) }}
            <div role="group" aria-label="{{ 'label.actions'|trans }}">
                <a href="{{ url('hearIt_index') }}" title="{{ 'label.back_to_list'|trans }}" class="btn btn-default">
                    <span class="fa fa-mail-reply" aria-hidden="true"></span>
                    {{ 'label.back_to_list'|trans }}
                </a>
            </div>
        </div>
    </div>
</div>